html,
body {
    background: #F8F8F8;
}

body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    padding: 0;
}

.swiper {
    width: auto;
    height: 234px;
}

.swiper-gradient {
    position: relative;
}

.swiper-gradient:before {
    content: '';
    position: absolute;
    top: 97px;
    right: 0;
    width: 24px;
    height: 72px;
    pointer-events: none;
    background: linear-gradient(to right, #F8F8F800 0%, #F8F8F8FF 100%);
    z-index: 10;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 6px;
    justify-content: space-between;
    cursor: pointer;
    padding: 19px;
    margin: 0;
    width: 240px;
    height: 72px;
    box-sizing: border-box;
}

.swiper-wrapper {
    background-color: #F8F8F8;
    width: auto;
    height: auto;
}

.swiper__title {
    display: flex;
    padding: 16px;
    font-weight: 400;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-transform: uppercase;
    max-height: 88px;
    justify-content: space-between;
    background: linear-gradient(to left, #FFFFFF, #F8F8F8);
    margin: 0 0 16px;
    border-top: 1px solid #D9FFF5;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
    margin: 0 4px;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.slide__company-button {
    width: 40px;
    height: 40px;
}

.services__link-button {
    display: none;
}

@media (min-width: 768px) {
    .swiper {
        width: 768px;
        height: auto;
    }

    .swiper__title {
        margin: 0;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 24px 8px 24px 24px;
    }


    .swiper-slide {
        width: calc(33.33% - 16px);
        box-sizing: border-box;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-gradient:before {
        display: none;
    }

    .services__link-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
        color: #1B1C21;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        padding-left: 24px;
    }

    .services__link-image {
        width: 24px;
        height: 24px;
        display: block;
        transition: transform 0.3s ease;
    }

    .services__link-button.expanded .services__link-image {
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .swiper {
        width: 1120px;
        height: auto;
    }

    .swiper-slide {
        flex: 1 1 calc(25% - 16px);
        max-width: calc(25% - 16px);
    }

    .services__link-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
        color: #1B1C21;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        padding-left: 24px;
    }

    .services__link-image {
        width: 24px;
        height: 24px;
        display: block;
        transition: transform 0.3s ease;
    }

    .services__link-button.expanded .services__link-image {
        transform: rotate(180deg);
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-gradient:before {
        display: none;
    }
}