//colors

$background-color-head: #FFFFFF;

$border-color-block: #EAEAEA;

$background-color-main: #F8F8F8;

$text-block-color: #7E7E82;

$border-highlight-color: #41F6D7;

$text-menu-color: #1B1C21;

$text-feedback-form-color: #B5B6BC;

$background-linear-gradient1: #F8F8F800;
$background-linear-gradient0: #F8F8F8FF;

$box-shadow-color: #0000004C;

$text-form-send-color: #FF3E79;

$swiper-pagination-color: #DDDDDD;

$text-color: #1B1C21;

//fonts
$font-main: 'TT Lakes', sans-serif;